<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraLMS.Properties.Settings.LibraDatabaseConnectionString"
            connectionString="Data Source=LAPTOP-91PB1EBQ\SQLEXPRESS;Initial Catalog=LibraDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>